.answer-tweet-form {
    padding: 1.5rem 1.25rem;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    border-bottom: 1px solid #EBEEF0
}

.answer-tweet-form label {
    display: flex;
    flex: 1;
    align-items: center;
    gap: 0.75rem;
}

.answer-tweet-form label img {
    width: 3rem;
    height: 3rem;
    border-radius: 9999px;
}

.answer-tweet-form label textarea {
    flex: 1;
    border: 0;
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 1.5rem;
    resize: none;
}

.answer-tweet-form label textarea:focus {
    outline: none;
}

.answer-tweet-form label textarea::placeholder {
    color: #5B7083
}

.answer-tweet-form button[type="submit"] {
    margin-left: auto;
    background: var(--twitter-blue);
    border-radius: 9999px;
    padding: 0.75rem 1.5rem;
    color: #FFF;
    font-size: 1rem;
    font-weight: 900;
    border: 0;
}

.answer-tweet-form button[type="submit"]:hover {
  filter: brightness(0.95);
}

.answer-tweet-form button[type="submit"] svg {
    width: 1.5rem;
    height: 1.5rem;
    display: none;
}

@media (max-width: 780px) {
    .answer-tweet-form label textarea {
        font-size: 1rem;
    }


    .answer-tweet-form button[type="submit"] {
        padding: 0.75rem;
    }

    .answer-tweet-form button[type="submit"] svg {
        display: block;
    }

    .answer-tweet-form button[type="submit"] span {
        display: none;
    }
}